<div class="form-box">
<form ng-controller="Network__ShellCtrl" class="form-group-table" form-status="status" name="nsForm" ng-submit="submit(nsForm)">

  <p class="form-group">
    <label for="shell_access">Allow shell (SSH) access to OPI</label>
    <span class="control">
      <input type="checkbox" ng-model="settings.enabled" ng-true-value="1" ng-false-value="0" id="shell_access" />
    </span>
  </p>
    <p class="form-group">
      <span class="control">
      <i>When enabling shell access, an email will be sent to the admin users of OPI with a password that can be used to access OPI as 'root' using SSH.</i>
      </span>
    </p>
  
  <hr>


  <p class="form-buttons">
    <button type="submit" class="btn btn-primary">Save Changes</button>
  </p>

  <div form-status-message="invalid" class="pop"><alert type="'danger'">Form is invalid</alert></div>
  <div form-status-message="submitting" class="pop"><alert type="'info'">Saving...</alert></div>
  <div form-status-message="error" class="pop"><alert type="'danger'">An error occurred. Please try again.</alert></div>
  <div form-status-message="success" class="pop"><alert type="'success'">Saved!</alert></div>


</form>
</div>
