<div class="form-box">
<form ng-controller="Network__OpiNameCtrl" class="form-group-table" form-status="status" name="onForm" ng-submit="submit(onForm)">


    <p class="form-group">
      <label for="on-name">Your OPI Name</label>
      <span class="control">
        <input 	type="text"
        		ng-model="settings.opiname"
        		id="on-name"
        		class="form-control form-control-sm"
        		required
        		validation-icon="'Invalid or not available name' | translate "
        		ng-remote-validate="network/checkopiname"
        		ng-pattern="regexOpiname()"
        		name="opiname"
        >
      </span>
    </p>
    <p class="form-group">
      <label >Complete URL to your OPI</label>
      <span class="control">
        https://{{settings.opiname}}.op-i.me
      </span>
    </p>
    <p class="form-group">
      <span class="control" style="white-space: normal">
      <i>When changing name on OPI you might have to reload your browser with new URL after save.</i>
      </span>
    </p>


  <p class="form-buttons">
    <button type="submit" class="btn btn-primary">Save Changes</button>
  </p>

  <div form-status-message="invalid" class="pop"><alert type="'danger'">Form is invalid</alert></div>
  <div form-status-message="submitting" class="pop"><alert type="'info'">Saving...</alert></div>
  <div form-status-message="error" class="pop"><alert type="'danger'">An error occurred. Please try again.</alert></div>
  <div form-status-message="success" class="pop"><alert type="'success'">Saved!</alert></div>


</form>
</div>
