<header><h1>Network Configuration</h1></header>
<article>
<tabset ng-init="actives = [!isTab('opiname'), isTab('opiname')]">
  <tab heading="{{'Network Settings' | translate}}" select="gotoPath('/network')" active="actives[0]"><div ng-include="'./templates/network/form--network-settings.html'"></div></tab>
  <tab heading="{{'Your OPI Name' | translate}}" select="gotoPath('/network/opiname')" active="actives[1]"><div ng-include="'./templates/network/form--opi-name.html'"></div></tab>
</tabset>
</article>