/Downloads
exclude/
*.db
*.pyc
*~
admin-ui/debian/opi-webfrontend
admin-ui/debian/files
admin-ui/public_dist
admin-ui/build
admin-ui/public/js
admin-ui/public/css/
admin-ui/public/uib/
admin-ui/.sass-cache
admin-ui/.pc
admin-ui/.project
admin-ui/.settings
admin-ui/.buildpath
admin-ui/node_modules
opi-webfrontend*.upload
opi-webfrontend*.changes
opi-webfrontend*.deb
opi-webfrontend*.dsc
opi-webfrontend*.tar.gz
opi-webfrontend*.tar.xz
admin-ui/target
