<div ng-controller="Me__ChangePasswordCtrl">
  <form form-status="status" class="form-group-table" name="cpForm" ng-submit="submit(cpForm)">
    <p class="form-group" ng-if="!editingUser()">
      <label for="cp-oldpassword">Current Password</label>
      <span class="control">
        <input type="password" ng-model="cp.oldpassword" id="cp-oldpassword" class="form-control" required validation-icon="'Please specify' | translate">
      </span>
    </p>
    <p class="form-group">
      <label for="cp-newpassword">New Password</label>
      <span class="control">
        <input type="password" ng-model="cp.newpassword" name="password" id="cp-newpassword" class="form-control" required  validation-icon="'Please specify' | translate ">
      </span>
    </p>
    <p class="form-group">
      <label for="cp-newpassword2">Confirm New Password</label>
      <span class="control">
        <input type="password" ng-model="cp.newpassword2" id="cp-newpassword2" class="form-control" ui-validate="'$value==cp.newpassword'"  ui-validate-watch="'cp.newpassword'" validation-icon="'Does not match the specified password' | translate ">
      </span>
    </p>
    
    <p class="form-buttons">
      <a class="btn btn-default" ng-click="$modalInstance.dismiss('cancel')" ng-show="modalParams">Cancel</a>
      <button type="submit" class="btn btn-primary">Change Password</button>
    </p>

    <div form-status-message="invalid" class="pop"><alert type="'danger'">Form is invalid</alert></div>
    <div form-status-message="submitting" class="pop"><alert type="'info'">Updating...</alert></div>
    <div form-status-message="error" class="pop"><alert type="'danger'">An error occurred. Please try again.</alert></div>
    <div form-status-message="success" class="pop"><alert type="'success'">Password has been changed</alert></div>

  </form>
  </div>