<div  ng-controller="Mail__DeleteExternalMailboxCtrl">
	<form form-status="status" class="form-group-table" name="duForm" ng-submit="submit(duForm)">
	  
		<h2 class="mbot2 text-center">Are you sure you want do delete <span class="entity">{{editMailbox.email || editMailbox.identity}}</span>?</h2>

		<p class="form-buttons text-center">
		<a class="btn btn-default" ng-click="$modalInstance.dismiss('cancel')">No, cancel</a>
		<button type="submit" class="btn btn-primary" autofocus>Yes, delete external mailbox</button>
		</p>

	    <div form-status-message="invalid" class="alert alert-danger pop">Form is invalid</div>
	    <div form-status-message="submitting" class="alert alert-info pop">Deleting...</div>
	    <div form-status-message="error" class="alert alert-danger pop">An error occurred. Please try again.</div>
	    <div form-status-message="success" class="alert alert-success pop">User deleted</div>

	</form>
</div>