@CHARSET "UTF-8";

html, body {
	height: 100%;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 0;
}


#top-nav-logout {
	display : inline-block;
	margin-top : 25px;
}


#mainview {
	height: 100%;
	display : flex;
	flex-flow : row-reverse;
}

#nav_line {
	margin-right: 1px;
}


#username {
	margin-left: 10px;
	margin-top: 10px;
	display: inline-block;
	white-space: nowrap;
}


#op_nav {
	background-color: var(--nav_bgcolor, rgb(241, 199, 145));
	align-items: center;
	display: flex;
	flex-flow: column;
	width: min-content;
	margin: auto;
}

