<div ng-controller="System__SetMasterPasswordCtrl">
  <form form-status="status" class="form-group-table" name="mpwdForm" ng-submit="submit(mpwdForm)">
    <p class="form-group">
      <span ng-show="enabled">
      Provide 'Master Password' in order to generate authentication keys needed to access OpenProducts Servers
      </span>
      <span ng-show="!enabled">
      Provide 'Master Password' in order to disable the 'OpenProducts' module.
      </span>
    </p>

    <p class="form-group">
      <label for="cp-newpassword">Master Password</label>
      <span class="control">
        <input type="password" ng-model="mpwd" name="mpwd" id="mpwd" class="form-control" required  validation-icon="'Please enter password' | translate ">
      </span>
    </p>
    
    <p class="form-buttons">
      <a class="btn btn-default" ng-click="$modalInstance.dismiss('cancel')" ng-show="modalParams">Cancel</a>
      <button type="submit" class="btn btn-primary">{{enabled ? "Generate Keys" : "Disable Module"}}</button>
    </p>


    <div form-status-message="invalid" class="alert alert-danger pop">Form is invalid</div>
    <div form-status-message="submitting" class="alert alert-info pop">Updating...</div>
    <div form-status-message="error" class="alert alert-danger pop">{{errormsg || "An error occurred. Please try again."}}</div>
    <div form-status-message="success" class="alert alert-success pop">Successfully updated module settings.</div>

  </form>
</div>

