<div ng-controller="Backup__PurchaseCtrl">
  <form  form-status="status" class="form-group-table" name="pForm" ng-submit="submit(pForm)">
    <p class="form-group">
      <label for="p-code">Purchase Code</label>
      <span class="control">
        <input type="text" ng-model="p.code" id="p-code" class="form-control" required  validation-icon="'Please specify' | translate ">
      </span>
    </p>
    <p class="form-buttons">
      <a class="btn btn-default" ng-click="$modalInstance.dismiss('cancel')" ng-show="modalParams">Cancel</a>
      <button type="submit" class="btn btn-primary">Purchase Backup</button>
    </p>


    <div form-status-message="invalid" class="pop"><alert type="'danger'">Form is invalid</alert></div>
    <div form-status-message="submitting" class="pop"><alert type="'info'">Checking validity...</alert></div>
    <div form-status-message="error" class="pop"><alert type="'danger'">An error occurred. Please try again.</alert></div>
    <div form-status-message="success" class="pop"><alert type="'success'">Success!</alert></div>


  </form>
</div>