<div  ng-controller="Users__GroupsToUserCtrl">
  <form form-status="status" class="form-group-table" name="g2uForm" ng-submit="submit(g2uForm)">

    <table ng-table="tableParams" class="table table-striped">
      <tr ng-repeat="group in groups | orderBy:['-includeUser','name']">
        <td data-title="'Include User'" header-class="include" class="include">
          <input type="checkbox" ng-model="group.includeUser" ng-disabled="disable_Edit(editUser,group)"/>
        </td>
        <td data-title="'Group Name'" header-class="groupname" class="groupname">
          {{group.name}}
        </td>
      </tr>
    </table>


    <p class="form-buttons">
    <a class="btn btn-default" ng-click="$modalInstance.dismiss('cancel')">Cancel</a>
    <button type="submit" class="btn btn-primary">Save Changes</button>
    </p>

    <div form-status-message="invalid" class="pop"><alert type="'danger'">Form is invalid</alert></div>
    <div form-status-message="submitting" class="pop"><alert type="'info'">Saving...</alert></div>
    <div form-status-message="error" class="pop"><alert type="'danger'">An error occurred. Please try again.</alert></div>
    <div form-status-message="success" class="pop"><alert type="'success'">Saved!</alert></div>

  </form>
</div>